* {
  scrollbar-width: 10px;
  scrollbar-color: #8c8c8c;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 20px;
}


body {
  margin: 0;
}

